@*<a href="@Url.Action("Giohang","Giohang")" style="color:white; font-weight:bold; text-decoration:none;">
    <img src="~/Images/Giohang.gif" />Giỏ hàng (@ViewBag.Tongsoluong)
</a>*@

<li>
    <a href="@Url.Action("GioHang","GioHang")">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        Giỏ hàng (@ViewBag.TongSoLuong)
    </a>
</li>
